h2{
    height: 6rem;
    border: 1px solid black;
}

h1{
    height: 6rem;
    color: pink;
}


#first_para{
    font-size: 2rem;
    color: red;
}

.sec_para{
    height: 6rem;
    color: blue;
}

.blueblock{
    font-size: 3rem;
    background-color: blue;
    color: white;
}

.diff{
    color: red;
}


.first_box_model{
    padding: 25px;
    border: 1px solid black;
    margin: 15px;
    font-size: 30px;
}